{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<ul class="breadcrumb visible-md visible-lg">
   {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}          
           <li class="active">{{ item.text }}</li>
        {% endif %}
      </li>
    {% endfor %}
</ul>
{% endif %}
