{% include directory ~ '/partials/header.html.twig' %}
<section id="page">

    <header class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ page.title }}            

            {{ page.breadcrumb }}

          </div>
        </div>
      </div>
    </header>

    <section id="content">
      <section class="pt30 pb30"> 
        <div class="container clearfix">
              {{ page.content }}
        </div>{# /.layout-container #}
    </section>
  </section>
<section>
{% include directory ~ '/partials/footer.html.twig' %}
