{% include directory ~ '/partials/header.html.twig' %}
<section id="page">

    {% if  page.content_header %}
      <header class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">               
              {{ page.content_header }} 
            </div>
          </div>
        </div>
      </header>
     {% endif %}

    <section id="content">
      <section class="pt30 pb30"> 
        <div class="container clearfix">
              {{ page.content }}
        </div>{# /.layout-container #}
    </section>
  </section>
<section>

{% include directory ~ '/partials/footer.html.twig' %}
