{% include directory ~ '/partials/header.html.twig' %}
<section id="page">
    <section id="content">
      <section class="pt30 pb30"> 
        <div class="container clearfix">
              {{ page.content }}
        </div>{# /.layout-container #}
    </section>
  </section>
<section>
{% include directory ~ '/partials/footer.html.twig' %} 
