{% if page.footer %}
    <!-- footer -->
    <footer id="footerWrapper" class="footer2">
        <!--<section id="mainFooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {#{ page.footer }#}
                    </div>
                </div>
            </div>
        </section>-->


                <section id="mainFooter">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">
										<img style="height:50px" src="/test/themes/custom/anelma/images/anelma-logo.png" alt="latest Little Neko news" id="footerLogo">
										<p><a href="www.anelmakozijnen.nl" title="Little Neko, website template creation">anelma</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dolor ut sem egestas ullamcorper. Integer ornare odio dolor, sit amet ornare elit commodo et. Vestibulum viverra augue non quam hendrerit dictum.</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Laatste projecten</h3>
										<ul class="list-unstyled worksList">
											<!--<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works1.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works2.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works3.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works4.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works5.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works6.jpg" alt="works"></a></li>
-->
										</ul>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Laatste nieuws</h3> 
										<ul class="list-unstyled iconList">
											<li><a href="#">Nieuwe Site</a></li>
											<li><a href="#">Groene beurs</a></li>
											<li><a href="#">nog een niews bericht</a></li>
											<li><a href="#">etc etc</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Anelma</h3>
										<address>
											<p>
												<i class="icon-location"></i>Kortland 5<br>
												3412 KW Lopik <br>
												<i class="icon-phone"></i>&nbsp;00343 1234 56 <br>
												<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:info@anelmakozijnen.nl">info@anelmakozijnen.nl</a>
											</p>
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section id="footerRights">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<ul class="socialNetwork">
										<li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
									</ul>     
								</div>
							</div>
						</div>
					</section>

    </footer>
    <!-- End footer -->
{% endif %}