{% if page.footer %}
    <!-- footer -->
    <footer id="footerWrapper" class="footer2">
        <!--<section id="mainFooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {#{ page.footer }#}
                    </div>
                </div>
            </div>
        </section>-->


                <section id="mainFooter">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">
										<img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo">
										<p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Latest works</h3>
										<ul class="list-unstyled worksList">
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works1.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works2.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works3.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works4.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works5.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works6.jpg" alt="works"></a></li>

										</ul>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Latest news</h3>
										<ul class="list-unstyled iconList">
											<li><a href="#">Solace of a lonely highway</a></li>
											<li><a href="#">Write with purpose</a></li>
											<li><a href="#">Tree on a lake</a></li>
											<li><a href="#">Don’t stop questioning</a></li>
											<li><a href="#">Overheard this morning</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>Anelma</h3>
										<address>
											<p>
												<i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br>
												Seattle, MA 02139-4307 USA <br>
												<i class="icon-phone"></i>&nbsp;615.987.1234 <br>
												<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a>
											</p>
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section id="footerRights">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<ul class="socialNetwork">
										<li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
									</ul>     
								</div>
							</div>
						</div>
					</section>

    </footer>
    <!-- End footer -->
{% endif %}