{% if page.footer %}
    <!-- footer -->
    <footer id="footerWrapper" class="footer2">
		<section id="mainFooter">
			<div class="container">
				<div class="row">
					{{ page.footer }}
					<div class="col-md-3 col-sm-6">
						
				</div>
			</div>
		</section>
		<section id="footerRights">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="socialNetwork">
							<li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
						</ul>     
					</div>
				</div>
			</div>
		</section>

    </footer>
    <!-- End footer -->
{% endif %}