{% if page.header %}
    <!-- header -->
    <header class="">			
        <div id="mainHeader" role="banner">
            <div class="container">           

                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <!-- responsive navigation -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Logo -->
                        <a class="navbar-brand" href="/"><img src="/themes/custom/anelma/images/anelma-logo.png" alt="Anelma"/></a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="mainMenu">
                        {{ page.main_navigation }}
                    </div>
                </nav>        
            
            </div>
        </div>
    </header>
    <!-- End header -->
{% endif %}


